@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/boostrap/3.3.4/css/boostrap.min.css">
</head>

<body>
    <center>
        

        <table class="table-bordered">

            <tr>

                <td>
                    @Html.ActionLink("PENDIENTE", "IndexPendientes", "Quejas", null, new { @class = "btn btn-success btn-lg" })
                </td>

                <td>
                    @Html.ActionLink("SOLUCIONADO", "IndexSolucionadas", "Quejas", null, new { @class = "btn btn-danger btn-lg" })
                </td>
            </tr>
        </table>
    </center>


</body>
</html>



