
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_AdminIndex.cshtml";
}
<CENTER>
    <h1>Bienvenido Administrador</h1>

    <div>
        <img src="~/images/ADMIN.jpg">
    </div>
    <hr>
</CENTER>