@model proyectoBuzon.Models.Sugerencias

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}

<h2>Eliminar</h2>

<h3>ESTAS SEGURO DE ELIMINAR ?</h3>
<div>
    <h4>Sugerencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           DETALLE DE SUGERENCIA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionS)
        </dd>
        <dt>
           FECHA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaS)
        </dd>
        <dt>
           CLIENTE
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdClNavigation.ApellidosCl)
        </dd>
        <dt>
            TIPO DE SUGERENCIA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTiposugNavigation.NombreTipoq)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdS" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">REGRESAR</a>
    </form>
</div>
