@model proyectoBuzon.Models.Sugerencias

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}



<h4>Sugerencias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdS" />
            <div class="form-group">
                <label asp-for="IdCl" class="control-label">Nombre</label>
                <select asp-for="IdCl" readonly="readonly" class="form-control" asp-items="ViewBag.IdCl"></select>
                <span asp-validation-for="IdCl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTiposug" class="control-label"></label>
                <select asp-for="IdTiposug" readonly="readonly" class="form-control" asp-items="ViewBag.IdTiposug"></select>
                <span asp-validation-for="IdTiposug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionS" class="control-label">Descripcion</label>
                <input asp-for="DescripcionS" class="form-control" />
                <span asp-validation-for="DescripcionS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaS" class="control-label"></label>
                <input asp-for="FechaS" readonly="readonly" class="form-control" />
                <span asp-validation-for="FechaS" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">REGRESAR</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
