
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h2>Enviado Exitosamente</h2>

<div>
    <a asp-controller="Resolver" asp-action="ListarEstado/2">Aceptar</a>
</div>
